/* Color Palette */

$dark:		#071E22;
$red: 		#D9594C;
$blue1: 	#1D7874;
$blue2: 	#679289;
$light: 	#E7ECEF;

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Niconne);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Global Styles */

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $dark;
	color: $light;
	font-family: "Niconne";
	text-align: center;
}

h1 {
	font-size: 500%;
	font-weight: normal;
}

p {
	font-family: "Montserrat";
	font-size: 30px;
}

img {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

input[type="text"] {
  width: 30%;
  align-content: center;
  align-self: center;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: $dark;
  color: #E7ECEF;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus {
  border: 1px solid $red;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.ghost-button {
  font-family: sans-serif;
  font-size: 18px;
  display: inline-block;
  width: 250px;
  padding: 10px;
  color: #fff;
  background-color: $dark;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: $red;
  color: #fff;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
